@using System.Security.Cryptography.X509Certificates
@inject Pizzeria.Services.BasketService BasketService
    
    @{
        var basket = BasketService.GetCurrentBasket(Context.Session);

        var total = BasketService.GetTotal(Context.Session);
    }

<div>
    <table>
        <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Quantity
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @{if (basket?.Items != null)
          {
              foreach (var item in basket.Items)
              {
                  <tr>
                      <td>
                          @item.Dish.Name
                      </td>
                      <td>
                          <span><input asp-for="@item.Quantity" class="form-control" type="text" style="float:left;"/></span> 
                        </td>
                      <td>       
                          <button class="btn btn-default customize" type="submit" name="Customize-@item.DishId">
                              <span class="glyphicon glyphicon-edit" onclick="location.reload()"></span>
                          </button>
                      </td>
                  </tr>
              }
          }
        }
        <tr>
            <td>
                <b>SubTotal:</b>
            </td>
            <td>
                @total <button  type="submit" name="UpdateQuantity-@basket.BasketId"><span class="glyphicon glyphicon-refresh"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-info checkout" type="submit" name="Checkout-@basket">
        CHECKOUT
    </button>
</div>
