@using System.Linq
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Routing
@model System.Collections.Generic.IEnumerable<Pizzeria.Models.Dish>
    
    
@foreach (var dish in Model)
    {
        <div class="col-md-3">
            <div class ="well" id="pizzaBox">
                @{
                    <img src="@dish.ImageUrl"/>
                }

                <div>
                    <h3>
                        <strong>@dish.Name</strong>
                    </h3>
                </div>
                <div class="label label-default">
                    @dish.Price.ToString("c")
                </div>
                <div>
                    <p>
                        <a class="btn btn-default" asp-controller="Dish" asp-action="Details" asp-route-id="@dish.DishId">Details</a>
                        <button class="btn btn-default add" type="submit" name="Add-@dish.DishId">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
              
}