@using System.Linq
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Routing
@model System.Collections.Generic.IEnumerable<Pizzeria.Models.Dish>
    
    
@foreach (var dish in Model)
    {
        <div class=".item">
            <div class ="well">
                @{
                    <img src="@dish.ImageUrl" style="max-width: 150px"/>
                }

                <div>
                    <h3>
                        <strong>@dish.Name</strong>
                    </h3>
                </div>
                <div class="label" style="color: black">
                    @dish.Price.ToString("c")
                </div>
                <div>

                        <button class="btn dishBtn"asp-controller="Dish" asp-action="Details" asp-route-id="@dish.DishId">Info</button>
                        <button class="btn dishBtn" type="submit" name="Add-@dish.DishId">
                            <span class="glyphicon glyphicon-shopping-cart" style="float:left"></span>
                        </button>

                </div>
            </div>
        </div>
              
}