
@inject Pizzeria.Services.CategoryService CategoryService
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnv

<!-- Sidebar -->
<div id="sidebar-wrapper">    
    <ul class="sidebar-nav">
        <li>
            <a href="#">
                @HostingEnv.EnvironmentName
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li><a asp-area="" asp-controller="Admin" asp-action="Index"><h4>Admin panel</h4></a></li>
        }
        <li class="sidebar-brand">
            <a asp-area="" asp-controller="Home" asp-action="Index">All Categories</a>
        </li>
        @{
            foreach (var category in CategoryService.All())
            {
                <li>
                    <a asp-controller="Home" asp-action="FilterCategories" asp-route-id=@category.CategoryId>@category.Name</a>
                </li>
            }
        }

        @Html.Partial("_LoginPartial")

    </ul>
</div>
