

@{
    ViewBag.Title = "Administrator panel";
    Layout = "_Layout";
}

<h2>Administration panel</h2>

<div class="well" style="width: 150px">
    <a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
</div>
<div class="well"  style="width: 150px">
    <a asp-area="" asp-controller="Dish" asp-action="Index">Dishes</a>
</div>
<div class="well"  style="width: 150px">
    <a asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
</div>
<div class="well"  style="width: 150px">
    <a asp-area="" asp-controller="Ingredients" asp-action="Index">Ingredients</a>
</div>
<div class="well"  style="width: 150px">
    <a asp-area="" asp-controller="Users" asp-action="Index">Users</a>
</div>

