@model Pizzeria.Models.BasketItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Customize Basket Item</title>
</head>
<body>
<div>
    Id = @Model.BasketItemId
</div>
</body>
</html>