@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Pizzeria.Models.Dish>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div id="banner">
            <img src="~/images/pizzabanner.jpg" class="img-responsive" />
            <div id="banner-text">
                Pizza & Tools
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h2>Menu</h2>
        @{
            Html.RenderPartial("_Dishes", Model);
        }
    </div>
    <div class="col-md-4">
        <h2>Basket</h2>
        @{
            Html.RenderPartial("_Basket");
        }
    </div>
</div>
