@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Pizzeria.Models.Dish>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div id="banner">
            <img src="~/images/pizzabanner.jpg" class="img-responsive" />
            <div id="banner-text">
                Pizza & Tools
            </div>
        </div>
    </div>
    <form asp-controller="Home" asp-action="ExecuteCommands" method="post" id="MainForm">
        <div class="col-md-8">
            <h2>Menu</h2>
            @{
                Html.RenderPartial("_Dishes", Model);
            }
        </div>
        <div class="col-md-4">
            <h2>Basket</h2>
            @{
                Html.RenderPartial("_Basket");
            }
        </div>
    </form>

</div>
@*Popup section*@

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section scripts
    {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        var TeamDetailPostBackURL = '/Home/CustomizePopup';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/text",
                    data: { "Id": id },
                    dataType: "text",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}  