body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto", sans-serif;
}

/* Banner */
#banner {
    position: relative;
}

#banner img {
    vertical-align: top;
}

#banner-text {
    font-size: 8em;
    color: white;
    position: absolute;
    top: 20px;
    margin: 0 auto;
    bottom: 0;
    max-width: 1000px;
    left: 40px;
}

/* Links */
a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: black;
    }

/* Lists */

ul {
    list-style-type: none;
    margin: auto;
}

li {
    padding: 5px;
}

/* PizzaBox*/
#pizzaBox {
    margin-left: 5px;
}

#pizzaBox img {
    width: 150px
}

/* Banner */
#banner {
    position: relative;
    padding: 10px;
}

#banner img {
    vertical-align: top;
}

#banner-text {
    position: absolute;
    top: 20px;
    left: 10px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
